<!--<?php
require_once template('head');
require_once template('sidebar');
$en_title = ucfirst(str_replace('_',' ',$class_list[$classnow]['filename']));
$methits=methtml_hits('news');
$met_newsnext=methtml_prenextinfo(1,1);
echo <<<EOT
-->
        <article class="page-main">
            <div class="page-crumb">
                <a href="{$index_url}" title="{$lang_home}">{$lang_home} &gt;</a> {$nav_x[name]}
            </div>
            <div class="page-content p-article">
                <h1 class="title">
                    {$en_title}
                    <p>{$class_list[$classnow][name]}</p>
                </h1>
                <h2 class="stitle">{$news[title]}</h2>
                <div class="text">{$news[content]}</div>
                <div class="hits">{$methits}</div>
                <div class="page">{$met_newsnext}</div>
                <div class="clear"></div>
                <div class="clear"></div>
            </div>
        </article>
        <div class="clear"></div>
    </div>
</section>
<!--
EOT;
require_once template('foot');
?>