body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,egend,input,button,textarea,hr { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6 { font-size:100%; }
ul { list-style:none; }
ol { padding-left:20px; }
img { border:0; }
q:before,q:after { content:''; }
abbr[title] { border-bottom:1px dotted; cursor:help; }
button,input,select,textarea { font-size:100%; }
hr { border:none; height:1px; }
body,button,input,select,textarea { font:12px/1 Tahoma,'Microsoft Yahei','Simsun'; }
html,body { font:12px/1.5 'Microsoft YaHei',Tahoma,Verdana,'Simsun'; color:#222; -webkit-text-size-adjust:none; }
img { border:none; }
a { color:#1c57c4; text-decoration:underline; }
a:hover { color:#1c57c4; }

input.text,textarea.textarea {
	background:#fff;
	color:#333;
	border:1px solid #eee;
	border-top-color:#999;
	border-left-color:#999;
	padding:1px;
	vertical-align:middle;
	height:22px;
	line-height:22px;
}
textarea.textarea {
	height:50px;
	line-height:1.5;
}
input.anytext {
	background:#fff;
	color:#333;
	border:1px solid #ccc;
	padding:1px;
	vertical-align:middle;
	height:16px;
	line-height:16px;
}
input.submit {
	height:28px;
	line-height:20px;
	font-size:12px;
	padding:0px 20px;
}
select {
	color:#333;
}
.floatl {
	float:left;
}
.floatr {
	float:right;
}
.clear {
	clear:both;
	font-size:0px;
	height:0px;
	overflow:hidden;
}
.red {
	color:#f00 !important;
}
.blue {
	color:#1c57c4 !important;
}
.blues {
	color:#1c57c4 !important;
}
.green {
	color:#29af00 !important;
}
.black {
	color:#333 !important
}
.j9 {
	color:#999 !important;
}
.must {
	color:#f00;
	margin-right:5px !important;
}
.none {
	display:none;
}
img.small {
	position:relative;
	top:4px;
}
a.tips img {
	position:relative;
	top:4px;
}
textarea.js-text {
	width:50%;
	background:url(../input.gif) no-repeat;
	color:#666;
	border:1px solid #ccc;
	padding:2px 2px 0px;
	height:20px;
	line-height:20px;
}
span.keylist {
	color:#29af00;
}
.color_btn {
	cursor:pointer;
	margin-left:5px;
	color:#1c57c4;
	text-decoration:underline;
}
#indexid {
	background:#dedede;
}
#metcmsbox {
	background:#fcfcfc;
	width:100%;
}
#metcmsbox a {
	color:#000;
	text-decoration:none;
}
#top {
	width:100%;
	height:68px;
	background:#1e71b1;
	box-shadow: 0 1px 2px #999;
}
#top .topnbox{ width:1002px; margin:0px auto; position:relative; z-index:999; height:68px;}
#top .floatl {
	width:155px;
	height:68px;
	padding:0;
	overflow:hidden;
	text-align:center;
}
#top .floatl a{ display:block; height:68px; font-size:0px; }
#top .floatl a img{ position:relative; right:2px; height:68px;}
#top .floatr {
	width:100%;
	margin-left:-155px;
	height:68px;
}
#top .floatr .top-r-box {
	height:68px;
	margin-left:155px;
	position:relative;
	z-index:1;
}
#top .floatr .top-right-boxr {
	position:absolute;
	right:0px;
	top:0px;
	height:68px;
	z-index:900;
	text-align:right;
	_z-index:10;
}
#top .floatr .top-r-t {
	text-align:right;
	white-space:nowrap;
	line-height:25px;
	padding:3px 0px 0px 8px;
	color:#dbefff;
}
#top .floatr .top-r-t a {
	color:#dbefff;
}
#top .floatr .top-r-t a:hover{ color:#fff;}
#top .floatr .top-r-t a:hover{ text-decoration:underline;}
#top .floatr .top-r-t ol.rnav{ float:right; list-style:none;}
#top .floatr .top-r-t li.list{ float:left; height:26px; line-height:26px; position:relative;}
#top .floatr .top-r-t li.ghome{ background:#105488; margin-left:10px; cursor:pointer; border:1px solid #0f4e7f; height:24px; line-height:24px;}
#top .floatr .top-r-t li.ghome a{ display:block; padding:0px 10px;}
#top .floatr .top-r-t li.ghome a:hover{ text-decoration:none;}
#top .floatr .top-r-t li.langli{ background:#105488; padding:0px 10px; margin-left:10px; cursor:pointer; height:24px; line-height:24px; border:1px solid #0f4e7f; }
#top .floatr .top-r-t li.langli{ _padding-top:3px; _height:21px;}
#top .floatr .top-r-t li.langli span.title{ display:block; background:url(../metcolumn12.gif) no-repeat right center; padding-right:10px; color:#fff;}
#top .floatr .top-r-t li.langli span.title img{ padding-right:5px; position:relative; top:2px; }
#top .floatr .top-r-t li.nowt span.title{ background:url(../metcolumn12_t.gif) no-repeat right center;}
#top .floatr .top-r-t li.line {
	width:14px; 
	text-align:center;
	font-size:8px;
	color:#5a8eb7;
	float:left;
}
#addlang{ padding-left:31px; height:28px; line-height:28px; color:#fff; background-image:url(../metv5/jia.png); background-repeat:no-repeat; background-position:11px center;}
.langlist {
	display:none;
	position:absolute;
	right:-1px;
	_right:-2px;
	top:24px;
	background:#105488;
	min-width:150px;
	*width:150px;
	border-top:0px;
	white-space:nowrap;
	z-index:9999;
	cursor:default;
	color:#dbefff;
}
.langlist ol {
	padding:0px;
	white-space:nowrap;
}
.langlist p {
	padding:5px 5px 0px;
	line-height:1.5;
}
.langlist li {
	text-align:left;
	white-space:nowrap;
	cursor:pointer;
	list-style:none;
	font-weight:normal;
	padding:0px 40px 0px 10px;
	height:28px; line-height:28px;
	overflow:hidden;
}
.langlist li span{ display:block; height:28px;line-height:28px; white-space:nowrap; _padding-top:5px;}
.langlist li span img{ padding-right:5px; position:relative; top:2px;}
.langlist li.hv {
	background:#1f69a2;
	color:#fff;
}
.langlist li.dlang {
	
}
#top .langtxt .langlist a {
	color:#333;
}

/*#metinfo_license{ margin-top:8px; font-size:14px; }*/
#metinfo_license{ position:absolute; right:0px; bottom:7px; *z-index:-1;  }
#metinfo_license a:hover{ text-decoration:none!important;}
#top .floatr .nav {
	height:68px;
	float:left;
	overflow:hidden;
}
#top .floatr ul {
	position:relative;
	height:68px;
	overflow:hidden;
	z-index:99999;
	float:left;
}
#top .floatr .nav li.list {
	float:left;
	display:inline;
	width:120px;
	margin:0px 0px 5px 0px;
}
#top .floatr .nav li a {
	display:block;
	text-align:center;
	height:68px;
	padding:7px 25px 0px;
	text-decoration:none;
	color:#fff;
	text-shadow:0px -1px rgba(0,0,0,0.2);
	border:1px solid #1e71b1;
	overflow:hidden;
	position:relative;
}
#top .floatr .nav li a:hover{
	background:#1465a3;
	border:1px solid #10619f;
}
#top .floatr .nav li a.onnav {
	background:#105488;
	border:1px solid #0e4b7a;
}
#top .floatr .nav li a.onnav:hover{ _background:#105488; _border:1px solid #0e4b7a; }
#top .floatr .nav li a span {
	margin:0px auto 3px;
	width:32px;
	height:30px;
	position:absolute;
	left:50%;
	right:50%;
	overflow:hidden;
	margin-left:-16px;
	margin-top:0px;
	*cursor:pointer;
}
#top .floatr .nav li p{ clear:both; margin-top:35px; *margin-top:40px; _margin-top:41px;}
#top .floatr .nav li a span.c1{
	background:url(../metv5/n3.png) no-repeat;
}
#top .floatr .nav li a span.c2{
	background:url(../metv5/n4.png) no-repeat;
}
#top .floatr .nav li a span.c3 {
	background:url(../metv5/n5.png) no-repeat;
}
#top .floatr .nav li a span.c4 {
	background:url(../metv5/n6.png) no-repeat;
}
#top .floatr .nav li a span.c5 {
	background:url(../metv5/n1.png) no-repeat;
}
#top .floatr .nav li a span.c6 {
	background:url(../metv5/n6.png) no-repeat;
}
#top .floatr .nav li a span.c7 {
	background:url(../metv5/n7.png) no-repeat;
}
#top .clicka {
	background:url(../libg.gif) no-repeat 0px 0px;
	color:#FFFFFF;
}
#top .clickb {
	background:none;
	color:#4a9ab3;
}

#metcmsbox {
	margin:0px auto;
	position:relative;
	padding-bottom:15px;
	z-index:1;
}
#content {
	width:1000px;
	margin:15px auto 0px;
	border:1px solid #d3d3d3;
	box-shadow: 0 2px 2px 0 #e3e3e3;
	border-radius:3px;
}
#content .floatl {
	width:155px;
	position:relative;
	background:#f5f5f5;
	z-index:999;
}
#content .floatl_box{border-right:1px solid #ccc;padding:0px;}
#content .floatr {
	width:100%;
	margin-left:-155px;
	background:#f1f1f1;
}
#content .floatr .iframe {
	margin-left:155px;
	overflow:hidden;
	zoom:1;
	position:relative;
	z-index:1;
	
}
.metclse {
	margin-left:0px !important;
}
#content .floatr .clse {
	float:left;
	width:8px;
	overflow:hidden;
}
#content .floatr .clse img {
	margin-top:210px;
	cursor:pointer;
}
#content .floatr .iframe .min {
	margin:0px;
	overflow:hidden;
	zoom:1;
	position:relative;
	z-index:1;
}
#content .floatr iframe {
	width:100%;
	height:480px;
	position:relative;
	z-index:1;
}
#loading {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background:#fff;
	height:480px;
}
#loading img {
	position:absolute;
	top:40%;
	left:50%;
}
#loadtxt {
	padding-left:5px;
	font-weight:normal !important;
	color:#666;
}


#content .nav_list {
	padding-top:0px;
	background:#f3f3f3;
}
#content #leftnav {
	
}
* html #content .nav_list {
	height:400px;
}
#content .nav_list a:hover {
	color:#333;
	text-decoration:none;
}
#content .nav_list li {
	margin:0px auto 0px;
}
#content .nav_list li a {
	display:block;
	color:#222;
	height:42px;
	line-height:42px;
	margin:0px;
	padding-left:40px;
	border-bottom:1px solid #dedede;
	border-top:1px solid #f9f9f9;
	text-shadow:0px 1px rgba(255,255,255,0.5);
}
#content .nav_list li a:hover {
	color:#222;
	border-top-color:#ededed;
	background:#ededed;
}
#content .nav_list li a.on {
	border-top-color:#1e71b1;
	border-bottom-color:#1e71b1;
	background:#1e71b1 url(../metv5/lnav.png) no-repeat 12px center;
	text-decoration:none;
	position:relative;
	z-index:10000;
	color:#fff;
	text-shadow:0px -1px rgba(0,0,0,0.2);
}
#content .nav_list li a.on:hover {
	text-decoration:none;
	color:#fff;
	_background:#1e71b1 url(../metv5/lnav.png) no-repeat 12px center;
	_border-top-color:#1e71b1;
	_border-bottom-color:#1e71b1;
}
#content .left_footer {
	line-height:1.2;
	height:35px;
	line-height:35px;
	overflow:hidden;
	text-align:center;
	background:#ECECEC;
	position:absolute;
	bottom:0px; left:0px;
	width:154px;
	border-top:1px solid #ccc;
	color:#222;
}
#content .left_footer div.left_footer_box{ border-top:1px solid #fff;}
#content .left_footer b {
	font-weight:normal;
}
#content .left_footer a {
	color:#1c57c4;
	font-family:Tahoma,Verdana;
}
#content .left_footer a:hover{ text-decoration:underline;}

#content .fast{
	background: #f5f5f5;
	overflow: hidden;
}
#content .fast a{ display:block; height:35px; line-height:35px; padding-left:40px;
	border-top:1px solid #f9f9f9; border-bottom:1px solid #dedede; color:#222;}
#content .fast a:hover{ background:#ededed;}


.footer{ background:#fff; text-align:center; padding:0px 0px 15px; color:#999;}
.footer a{ color:#1c57c4; font-weight:normal; text-decoration:none;}
.footer a:hover{ text-decoration:underline;}
#nav_1_54{ }

/**/
.returnover{ position:absolute; margin:0px; z-index:999;}
.returnover{ font-size:16px; text-align:center; padding:10px 40px; background:#1e71b1; color:#fff; border-radius:3px; box-shadow:0 1px 2px #999; }
/*.mangpingfugai{ width:100%; height:600px; background:#888; position:absolute; left:0px; top:0px; z-index:998; opacity:0.5;}*/


/*升级弹框样式*/
#update_content_back {
	background-color:#000; 
	text-align:left;
	position:absolute;
	display:none;
	z-index:998;
	left:0px; 
	top:0px;
	z-index:999999;
	overflow:hidden;
}
#update_contents {
	width:400px;	
	background:#fff;
	z-index:999;
	position:absolute;
	z-index:999999999;
	display:none;
}
#update_contents h3.uptitle {
	background:#1e71b1;
	padding:0px 15px;
	font-size:16px;
	height:40px;
	line-height:40px;
	color:#fff;
}
#update_contents ul {

}
#update_contents li {
	margin:5px 0px;
}
#update_contents li span {

}
#update_contents .botom {
	margin-bottom:0px;
	height:43px;
	line-height:43px;
	text-align:center;
	background:#fff;
}
#update_contents .nano{
	height:340px;
	width:377px;
	margin:10px;
	font-size:12px;
	background:#fff;
	line-height:1.5;
	color:#000;
	border:1px solid #ccc;
}
#update_contents .nano .content{ padding:10px 25px 10px 15px;}
#update_contents .nano .pane { background: #999; width: 6px; right: 1px; margin: 3px; }
#update_contents .botom a {
	float:left;
	height:32px;
	line-height:32px;
	width:100px;
	margin-top:0px;
	margin-left:46px;
	color: #fff; 
	padding:0px 15px 0px 15px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius:5px; 
	cursor: pointer; 
	background:#2c8ad3; 
	background-image: -moz-linear-gradient(top,#2c8ad3,#1e71b1); 
	background-image: -webkit-gradient(linear,left top, left bottom,from(#2c8ad3),to(#1e71b1) ); 
	font-size:14px;
	text-decoration:none;
}
#update_contents .botom a.nosj{ 
	color:#333;
	background:#dadada; 
	background-image: -moz-linear-gradient(top,#f1f1f1,#dadada); 
	background-image: -webkit-gradient(linear,left top, left bottom,from(#f1f1f1),to(#dadada) ); 
}
