.v52fmbx{ margin:0px; color:#000;}
/**/
.v52fmbx_dlbox{ background:#fff;}
.v52fmbx_dlbox dl:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.v52fmbx_dlbox dl{zoom:1}
.v52fmbx_dlbox dl{ border-bottom:1px solid #ddd; margin:0px 0px;}
.v52fmbx_mo dl{ border-bottom:0;}
.v52fmbx dl dt{ float:left; padding:13px 5px 10px 10px; text-align:right; overflow:hidden; line-height:1.2;}
.v52fmbx dl dd{ float:left; padding:10px 0px 10px 5px;}
.v52fmbx dl dd label{ margin-right:10px; display:block; margin-bottom:3px;}
.v52fmbx dl dd label input{ position:relative; top:1px; margin-right:3px;}
.v52fmbx dl dd input.checkbox{ margin-right:5px;}
.v52fmbx dl dd .tips{ color:#aaa;}
.v52fmbx dl dd.labelinline label{ display:inline; }
.v52fmbx dl dt.addimgdt{ padding:10px 5px 10px;}
.v52fmbx dl dt.addimgdt p{ height:30px; line-height:30px; margin-bottom:8px;}
/**/
.v52fmbx_hr{ margin:0px 0px 2px 5px; padding:2px 0px; color:#666; font-weight:normal;}
.v52fmbx_hr .hr_right{ float:right;}
.v52fmbx_submit{ margin:10px;}
/**/
.v52fmbx_hidebox{ background:#fff; padding:10px;}
.v52fmbx_hidebox a{ margin-left:10px;}
.v52fmbx_detabes dl{ padding:0px 0px;}
.v52fmbx_detabes dl input.submit{ height:35px; line-height:27px; padding:0px 20px;}

.v52fmbx_tbmax{ margin:0px 5px; background:#fff; }
.v52fmbx_tbmaxother{margin:0 0px; }
.v52fmbx_tbmaxmt{ margin-top:0px;}
.v52fmbx_tbbox{ margin:5px; padding:5px 0px;}
.v52fmbx_inline dl dd label{ display:inline;}

.v52show{ display:block!important;}
/*content*/
.v52fmbx_dlbox_content{ margin:10px 0px;}

.list_font12{ font-size:12px;}


.v52fmbx_skined select option.c0{ color:red;}
.v52fmbx_skined select option.c1{ color:#000;}
.v52fmbx_skined select option.c2{ color:blue;}
.v52fmbx_skined select option.c3{ color:green;}

.displayimg_del{ position:absolute; right:0px; top:0px; color:#f00; text-decoration:none;}
.job_cv_img{ position:absolute; right:0px; top:0px; background:#fff;}
.job_cv_img img{ padding:3px; border:1px solid #ccc; }
.list-text input.text{ width:90%;}
.columntables input.text{ width:80%;}

/*yingyong*/
.v52_dlapplist{ background:#fff; margin:5px; padding:5px;}
.v52_dlapplist dl{ float:left; text-align:center; padding:10px 0px;}
.v52_dlapplist dl dd p{ padding:5px 0px 0px; line-height:1.5;}
.v52_dlapplist dl dd a{ color:#666; text-decoration:none; display:block;}
.v52_dlapplist dl dd a:hover{ color:#08c;}

.metsliding{ border-bottom:1px solid #ddd; margin:0px; padding:5px 5px 5px 10px; color:#08c; background:#f5f5f5;}
.xtips{ color:#999;}
.on_dlbox span.tips{ color:red!important;}
.blockname{ color:#f00;}
.stat_list_right{ float:right; height:35px; line-height:35px; margin-right:15px;}
.stat_list_right a{ color:#25b10a; text-decoration:none;}
div.page_list{ text-align:center;}

/**/
.returnover{ position:absolute; margin:0px; z-index:999;}
.returnover{ font-size:16px; text-align:center; padding:10px 40px; background:#1e71b1; color:#fff; border-radius:3px; box-shadow:0 1px 2px #999; }


.skedtype{ overflow:auto; padding-bottom:10px; zoom:1; z-index:999999; }
.skedtype div{ float:left; margin-top:5px; }
.skedtype span{ display:inline; float:left; padding:0px 15px; text-align:center; height:28px; line-height:28px; color:#fff; background:#999; cursor:pointer;}
.skedtype div:first-child span{ border-top-left-radius:3px; border-bottom-left-radius:3px; }
.skedtype div:last-child span{ border-top-right-radius:3px; border-bottom-right-radius:3px; }
.skedtype span.on,.skedtype span.ond{ background:#666;}
.flagselect{ 
	height:28px;
	line-height:28px;
	background:#f1f1f1;
	border:1px solid #c3c3c3;
	background-image: linear-gradient(to bottom,#f9f9f9 0,#f0f0f0 100%);
	float:left;
	padding:0px 15px;
	text-align:center;
	cursor:pointer;
	position:relative;
}
.flagselect a{ color:#333; text-decoration:none; }

/*颜色选择器*/
.colorpickerbox{
	float:left;
	position: relative;
	bottom:4px;
	left:5px;
	width: 36px;
	height: 36px;
	background: url(../colorpicker/images/select2.png);
	overflow:hidden;
}
.colorpickerbox div{ 
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url(../colorpicker/images/select2.png) center;
}
.float_input{ float:left;}
/*添加按钮*/
.addmenu{ 
}

/*表格右上角查询或筛选功能*/
.formright {
	float:right;
	position:relative; 
	bottom:3px;
}
.formright span{ margin-right:5px;}
.formright .submitmi{ padding:0px 10px; height:22px; line-height:22px;}
.formright input.text{ border:1px solid #ccc; height:16px; line-height:16px; width:60px!important;}
.formright label{ margin-left:5px;}
.formright form {
	display:inline;
	padding-left:10px;
	font-weight:normal;
}
.formleft{ float:left;}

.met_map_buttn{
	height:28px;
	line-height:28px;
	white-space:nowrap;
	background:#f1f1f1;
	border:1px solid #c3c3c3;
	background-image: linear-gradient(to bottom,#f9f9f9 0,#f0f0f0 100%);
	color:#333;
	float:left;
	padding:0px 15px;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
	margin-left:10px;
}
.input_float_left input.text{ float:left;}

.kuaijiedaohang .admin_poplistdiv label{ cursor:pointer; padding:5px 10px; white-space:nowrap;}
.kuaijiedaohang .admin_poplistdiv label.ons,.kuaijiedaohang .admin_poplistdiv label.hoverons{ background:#1e71b1; color:#fff; border-radius: 3px; }
.kuaijiedaohang .adpopcnkdiv{ overflow:auto; _zoom:1;}
.kuaijiedaohang .adpopcnkdiv label{ float:left; padding:3px 10px;}






