@charset "utf-8";
/* #metinfo_banner4 */
#metinfo_banner4{width:100%;overflow:hidden;position:relative;}
#metinfo_banner4 ul{position:absolute;}
#metinfo_banner4 ul li{float:left;overflow:hidden;position:relative;background:#000;}
#metinfo_banner4 ul li div{position:absolute;overflow:hidden;}
#metinfo_banner4 .btnBg{position:absolute;width:100%;height:20px;left:0;bottom:0;background:#000;}
#metinfo_banner4 .btn{position:absolute;width:780px;height:10px;padding:5px 10px;right:0;bottom:0;text-align:right;}
#metinfo_banner4 .btn span{display:inline-block;_display:inline;_zoom:1;width:25px;height:10px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;}
#metinfo_banner4 .btn span.on{background:#fff;}
#metinfo_banner4 .preNext{width:45px;position:absolute;top:0px;background:url(sprite.png) no-repeat 0 center;cursor:pointer;}
#metinfo_banner4 .pre{left:0;}
#metinfo_banner4 .next{right:0;background-position:right center;}
